---
layout: false
---
<div class="wfm-content-pad">
    <span ng-hide="isLoadedList">{{lang.loading}}...</span>
    <form name="wfmParameterForm" ng-show="isLoadedList">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Unit</th>
					<th title="Default color (can be ovveriden at company level)">Color</th>
                    <th>IsCumulative</th>
                    <th>Group</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="wfmParameter in wfmParameterList | orderBy: 'Id'">
                    <td><span ng-bind="wfmParameter.Id"></span></td>
                    <td>
                        <span ng-hide="wfmParameter.isEditable" ng-bind="wfmParameter.Name"></span>
                        <input type="text" ng-model="wfmParameter.Name" ng-show="wfmParameter.isEditable" />
                    </td>
                    <td>
                        <span ng-hide="wfmParameter.isEditable" ng-bind="wfmParameter.Uom"></span>
                        <input size="10" type="text" ng-model="wfmParameter.Uom" ng-show="wfmParameter.isEditable" />
                    </td>
					<td>
                        <span ng-hide="wfmParameter.isEditable" ng-bind="wfmParameter.DefaultColor"></span>
                        <input size="7" type="text" ng-model="wfmParameter.DefaultColor" ng-show="wfmParameter.isEditable" />
                    </td>
                    <td>
                        <span ng-hide="wfmParameter.isEditable" ng-bind="wfmParameter.IsCumulative"></span>
                        <input type="checkbox" ng-model="wfmParameter.IsCumulative" ng-show="wfmParameter.isEditable" />
                    </td>
                    <td>
                        <span ng-hide="wfmParameter.isEditable" ng-bind="wfmParameter.WfmParamSquadId"></span>
                        <select ng-show="wfmParameter.isEditable" ng-model="wfmParameter.WfmParamSquadId" ng-options="c for c in wfmParamSquadIdList"></select>
                    </td>
                    <td>
                        <div ng-hide="wfmParameter.isEditable">
                            <button type="button" class="btn btn-sm btn-default" ng-click="turnEdit(wfmParameter, true)">{{capitalizeFirst lang.toEdit}}</button>
                            <button type="button" ng-hide="wfmParameter.IsSystem" class="btn btn-sm btn-default" ng-click="deleteWfmParameter(wfmParameter)">{{capitalizeFirst lang.toDelete}}</button>
                        </div>
                        <div ng-show="wfmParameter.isEditable">
                            <button type="button" class="btn btn-sm btn-default" ng-click="putWfmParameter(wfmParameter)">{{capitalizeFirst lang.toSave}}</button>
                            <button type="button" class="btn btn-sm btn-default" ng-click="turnEdit(wfmParameter, false)">{{capitalizeFirst lang.toCancel}}</button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><input ng-model="wfmParameterNew.Id" ng-pattern="/[a-zA-Z]{3,16}$/" ng-maxlength="16" ng-minlength="3" placeholder="a-z (from 3 to 16 symbols)" required type="text" /></td>
                    <td><input ng-model="wfmParameterNew.Name" required type="text" /></td>
                    <td><input size="10" ng-model="wfmParameterNew.Uom" type="text" /></td>
					<td><input size="7" ng-model="wfmParameterNew.DefaultColor" type="text" /></td>
                    <td><input ng-model="wfmParameterNew.IsCumulative" type="checkbox" /></td>
                    <td><select required ng-model="wfmParameterNew.WfmParamSquadId" ng-options="c for c in wfmParamSquadIdList"></select></td>
                    <td><button type="button" class="btn btn-primary btn-sm" ng-click="postWfmParameter()" ng-disabled="wfmParameterForm.$invalid">Add parameter</button></td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>